body {
  margin: 0;
  font-family: 'Inter', system-ui;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #E7F6FF;
}

* {
  font-family: 'Inter', system-ui;
}

.wrapper {
  background: #FFFFFF;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  max-width: 1080px;
  margin: 0 auto;
  margin-top: 50px;
  padding: 40px;

  border: 1px solid #EAEAEA;

  .drawer {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 385px;
    height: 100%;
    top: 0;
    right: 0;
    background: #FFFFFF;
    box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
    padding: 30px;
    h2 {
      margin-bottom: 30px;
    }

  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }

  .items {
    flex: 1;
    overflow: auto;
  }

  .cartItem {
    background: #FFFFFF;
    border: 1px solid #F3F3F3;
    border-radius: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    padding: 20px;

    p {
      margin-bottom: 5px;
      margin-right: 12px;
      font-size: 14px;
      width: 150px;
    }
    b {
      font-size: 12px;
    }
  }
  .deleteBtn {
    width: 32px;
    height: 32px;
    background: #FFFFFF;
    border: 1px solid #DBDBDB;
    border-radius: 8px;
    opacity: 0.5;
    cursor: pointer;
    &:hover {
      opacity: 1;
    }
  }

  .cartTotalBlock {
    margin-bottom: 20px;
    li {
      display: flex;
      align-items: flex-end;
      margin-bottom: 20px;
    }
    div {
      flex: 1;
      height: 1px;
      border-bottom: 1px dashed #DFDFDF;
      position: relative;
      top: -4px;
      margin: 0 10px;
    }
  }
  .greenBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 55px;
    background: #9DD558;
    border-radius: 18px;
    border: none;
    cursor: pointer;
    transition: background 0.2s ease-in-out;

    span {
      font-weight: 600;
      font-size: 16px;
      color: #FFFFFF;
    }
    img {
      position: absolute;
      right: 35px;
      transition: 0.15s ease-in-out;

    }
    &:hover {
      background: lighten($color: #9DD558, $amount: 5%);
      img {
        transform: translateX(7px);
      }
    }

  }
}

header {
  h3 {
    font-weight: 700;
    font-size: 20px;
  }
  p {
    font-weight: 400;
    font-size: 14px;
  }

  img {
    margin-right: 15px;
  }
  .headerRight {
    column-gap: 30px;
    span {
      font-weight: 600;
      font-size: 14px;
      color: #5C5C5C;
    }
    li {
      cursor: pointer;
    }
  }
}

h3, p {
  margin: 0;
}

.content {
  h1 {
    margin: 0;
  }


  .searchBlock {
    width: 250px;
    height: 45px;
    border: 1px solid #F3F3F3;
    border-radius: 10px;
    display: flex;
    padding: 15px;

    input {
      border: none;
    }
    img {
      margin-right: 13px;
    }
  }
}

.card {
  margin-bottom: 40px;
  width: 220px;
  background: #FFFFFF;
  border: 1px solid #F3F3F3;
  border-radius: 40px;
  padding: 30px;
  transition: box-shadow 0.2s easy-in-out, transform 0.2s ease-in-out;
  &:hover {
    box-shadow: 0px 14px 35px rgba(0, 0, 0, 0.06);
    transform: translateY(-5px);
  }
  
  p {
    font-weight: 500;
    font-size: 11px;
    text-transform: uppercase;
    opacity: 0.5;
  }

  b {
    font-weight: 700;
    font-size: 14px;
  }
  h5 {
    font-weight: 400;
    font-size: 14px;
  }
  .addButton {
    width: 32px;
    height: 32px;
    background: #FFFFFF;
    border: 1px solid #F2F2F2;
    border-radius: 8px;
    cursor: pointer;
  }
  .addedButton {
    background: linear-gradient(180deg, #89F09C 0%, #3CC755 100%);
    width: 32px;
    height: 32px;
    border: 1px solid #F2F2F2;
    border-radius: 8px;
    cursor: pointer;
  }


  .favorite {
    position: absolute;
    cursor:pointer;
  }

}